<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome {{user.username}}
    {{admin_instance.phone_number}}
    {{ admin_instance.address }}
    <a href="{%url 'panel-admRegpage'%}"> register Admin</a>
    <a href="{%url 'panel-StdRegpage'%}"> register Student</a>
    <a href="{%url 'panel-tchRegpage'%}"> register teacher</a>
    <a href="{%url 'panel-clsRegpage'%}"> register class</a>
    <a href="{%url 'panel-subRegpage'%}"> register subject</a>
    <a href="{% url 'panel-logout'%}"> Logout </a>    
</div>
</body>
</html>