
{% extends "panel/base.html" %}
    {% block content %}
    welcome <P>{{user.username}}</P>
    <P>{{student_instance.phone_number}}</p>
    <P>{{student_instance.email}}</p>
    <P>{{student_instance.address}}</p>
    <P>{{student_instance.gender}}</p>
    <P>{{student_instance.dob}}</p>
    <P>{{student_instance.std_class}}</p>
    <P>{{student_instance.session.Year}}</p>
    <P>{{student_instance.last_login}}</p>
    <P>{{student_instance.date_created}}</p>
          
    <a href="{%url 'panel-logout'%}"> Logout </a>
    {% endblock %}

